{% extends "base.html" %} {% block head %}
<title>To-Do List</title>
<link rel="stylesheet" href={{url_for("static", filename='css/styles.css')}}> {%
endblock head %} {% block body %} <div class="row>
<div class="col align-self-center">
  <h1>Welcome {{user.first_name.title()}}!</h1>
  <h3>This is your To-Do List</h3>
  {% if tasks|length < 1 %}
  <h4>There are no tasks. Create some below!</h4>
  {% else %}
  <table class="table table-bordered">
    <thead>
      <th>Added</th>
      <th>Task To Do</th>
      <th>Action</th>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td>
          <p>
            On: {{task.date_created.strftime("%m/%d/%Y")}}<br />
            At: {{task.date_created.strftime("%H:%M:%S")}}
          </p>
        </td>
        <td>{{task.task}}</td>
        <td>
          <a class="btn btn-primary btn-sm" href="/delete/{{task.task_id}}"
            >Delete</a
          >
          <br />
          <br />
          <button
            type="button"
            class="btn btn-primary btn-sm"
            data-toggle="modal"
            data-target="#modal-form"
          >
            Update
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="text-center">
    <a class="btn btn-sm btn-danger" href="/deleteAll"> Delete All Tasks </a>
  </div>
  {% endif %}
  <form action="/" method="POST">
    <input type="text" name="content" id="content" placeholder="Enter Text" />
    <input type="submit" value="Add Task" class="btn btn-primary btn-sm" />
  </form>
</div>

<!-- Modal  -->
<div
  class="modal fade"
  id="modal-form"
  tabindex="-1"
  aria-labelledby="updateModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Sign in</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ modal_messages() }}

        <form method="post" action="/update/2">
          <div class="form-group">
            <label for="form-text" class="col-form-label">Enter New Task</label>
            <br />
            <textarea name="form-text" id="form-text" rows="3"></textarea>
            <br />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <input
              type="submit"
              class="btn btn-primary"
              value="update"
              id="update"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
